/* == LINKS == */

@font-face {
	font-family:'Super Mario';
	src:url('SuperMario256.ttf');
}

body {
	background-image:url('bgimage.png');
}

.card-header {
	background-image:url('topbarbg.png');
}

header main {
	background-image:url('headerbg.png');
	position:relative;
}

header nav {
	background-image:url('redbg.png');
	font-family:'Super Mario';
}

header nav::after {
	background-image:url('headerbg2.png');
	content:"";
	height:36px;
	left:0;
	position:absolute;
	top:-36px;
	width:100%;
}

@media (min-width:991px){
	header nav ul ul {
		background-image:url('pinkbg.png');
	}
}










/* == MAIN THEME ELEMENTS == */

body > .container {
	padding-top:2em;
}

header nav {
	position:relative;
	z-index:1000;
}

header nav #show-menu {
	display:flex;
}

header nav #show-menu .show-menu-button {
	flex-grow:1;
}

header nav.stick {
	position:fixed;
	top:0;
	width:100%;
}

header nav ul {
	list-style:none;
	margin:0;
	padding:0;
}

header nav ul li a {
	color:#FFF;
	display:block;
	padding:0.25em 0;
}

header nav ul li a:active,
header nav ul li a:focus,
header nav ul li a:hover
{
	color:#333;
	text-decoration:none;
}

@media (max-width:991px){
	header nav {
		font-size:1.25em;
		padding:0.25em 0;
	}
	
	.no-js header nav:not(:hover) ul.top-menu,
	body:not(.no-js) header nav ul.top-menu
	{
		display:none;
	}
	
	.show-when-big {
		display:none;
	}
}

@media (min-width:992px){
	header nav #show-menu {
		display:none;
	}
	
	header nav ul {
		display:flex;
	}

	header nav ul li {
		flex-grow:1;
		text-align:center;
	}
	
	header nav ul li a {
		font-size:1.75em;
	}

	header nav ul ul {
		position:absolute;
		left:0;
		width:100%;
	}

	header nav ul li:not(:hover) ul {
		display:none;
	}
	
	.show-when-small {
		display:none;
	}
}










/* == ELEMENTS == */

a,
a:hover,
a:active,
a:focus,
a:visited
{
	color:#FFF;
	font-weight:bold;
}

body {
	color:#FFF;
}

h1 {
	font-family:'Super Mario',sans-serif;
	margin-bottom:1em;
	text-align:center;
}

img {
	max-width:100%;
}

pre {
	color:#FFF;
}










/* == FORMS == */

label {
	display:block;
	width:100%;
}

textarea {
	height:16em;
}










/* == USEFUL CLASSES == */

.card {
	background-color:#213298;
	border-radius:0;
	margin-bottom:2em;
}

.card-header {
	color:#FFF600;
	font-family:'Super Mario',sans-serif;
	font-size:1.5em;
	font-weight:bold;
}

.card-header a {
	color:inherit;
}

.card-footer {
	background-color:#1E247E;
}

.resource-layout {
	border-bottom:1px solid #CCC;
	display:flex;
}

.resource-layout .resource-thumbnail {
	flex-shrink:0;
	margin:0 0.5em 0.5em 0;
}

.resource-layout .resource-description {
	flex-grow:1;
}










/* == BBCODE == */

blockquote {
	background-color:rgba(0,0,0,0.25);
	display:block;
	padding:0.25em;
}

blockquote cite {
	background-color:inherit;
	display:block;
	padding:0.5em;
	font-style:normal;
}

.bbcode-bold {
	font-weight:bold;
}

.bbcode-image {
	/**/
}

.bbcode-italic {
	font-style:italic;
}

.bbcode-underline {
	text-decoration:underline;
}